[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
structlog = "*"
behave = "*"
pika = "*"
census-rm-sample-loader = {editable = true,git = "https://github.com/ONSdigital/census-rm-sample-loader",ref = "v1.4.0"}
paramiko = "*"
pgpy = "*"
requests = "*"
google-cloud-storage = "*"
google-cloud-pubsub = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.7"
